
#heading{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-decoration:1px  wavy white;

}
#subheading{
    font-family: "Raleway", sans-serif;

}
label,option{
    font-family: "Raleway", sans-serif;
}
.dev{
    font-family: "Poppins", sans-serif;
    font-style: italic;
    position:absolute;
    bottom: 0;
    color: white;
}